.main_block {
  display: inline;
  border: 2px solid grey;
  box-shadow: 5px 10px 18px #888888;
  flex-direction: row;
  background-color: antiquewhite;

  Button {
    width: 100px;
    height: 100px;
    margin: 1px;
    cursor: pointer;
    border: none;
    background-color: #d5d5d5;
    font-weight: bold;
    font-size: 25px;
  }

  .main_block_output {
    font-family: Padauk, serif;
    height: 45px;
    text-align: end;
    padding: 10px;
    font-size: 45px;
    background-color: white;
  }

   .operator {
      background-color: orange;
      color: white;
      border: none;
      font-weight: bold;
    }
}

#block-center {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
